<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-0 mb-lg-0 text-dark text-decoration-none"
      >
        <i
          style="letter-spacing: 2px; margin-right: 1.2em"
          class="fa-solid fa-person-chalkboard"
          ></i
        >
       <span style="font-weight: bold;">Shopping Management</span>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        style="margin:0 auto;"
      >
        <li style="margin-right: 10px">
          <a href="#" class="nav-link px-2 link-dark">Home</a>
        </li>
        <!-- <i style="margin-top: 0.7em;padding-right:0;" class="fa-solid fa-school"></i>  -->
        <li style="margin-right: 10px">
          <a href="cart" class="nav-link px-2 link-dark">Cart</a>
        </li>
        <!-- <i style="margin-top: 0.7em;padding-right:0;" class="fa-solid fa-comment"></i> -->
        <li style="margin-right: 10px">
          <a href="add-product" class="btn btn-success btn-sm mt-1"
            >Add Product</a
          >
        </li>
                <!-- <i style="margin-top: 0.7em;padding-right:0;" class="fa-solid fa-comment"></i> -->
                <li style="margin-right: 10px">
                  <a href="add-customer" class="btn btn-success btn-sm mt-1"
                    >Add Customer</a
                  >
                </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

    </div>
  </div>
</header>